*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    background-image: url(img/fondoBMW.avif);
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img{
    max-width: 100%;
}

header{
    width: 100%;
    height: 40%;
    display: flex;
}

.motorrad{
    display: flex;
    align-items: center;
}

.img_logo_header{
    width: 100px;
    height: 100%;
}

.car-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 65%;
}

.central{
    width: 100%; 
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    justify-content: space-around;
}

.S1000RR{
    width: 22%;
    box-shadow: 0 0 40px black;
    margin-top: 2rem;
    border-radius: 50px;
}

.name_bike{ 
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.img_S1000RR{
    width: 100%;
    border-radius: 50px;
}

.price{
    font-size: 25px;
}

.product-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.fas{
    padding: 6px;
    border: 0px solid blue;
    border-radius: 13px;
}

.fas:hover {
    background-color: blue;
    cursor: pointer;
}

.product-button a{
    display: block;
    padding: 9px 15px;
    color: white;
    text-decoration: none;
}

#Car-icon{
    color: blue;
    font-size: 18px;
    text-decoration: none;
}

.cart-modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    align-items: center;
}

.cart-content{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    max-height: 400px;
    overflow-y: 0;
}

#cart-items{
    list-style: none;
    padding: 0;
}

#cart-items li{
    padding: 10px 0;
    border-bottom: 1px solid rgb(187, 187, 186);
}

#checkout{
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top:10px;
}

#total{
    margin-top: 15px;
    font-weight: 900;
    color: azure;
}

#close-cart{
    cursor: pointer;
    font-size: 45px;
    position: absolute;
    top: 10px;
    right: 20px;
    color: white;
}

.puchase-modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    justify-content: center;
    align-items: center;
}


.puchase.content{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

.puchase.content h2{
    margin-bottom: 15px;
}

.puchase.content button{
    background-color: blue;
    color: white;
    padding:  10px 20px;
    border: none;
    cursor: pointer;
}